<div class="container-fluid">
<h4><b><u>TRAINING & CERTIFICATION</u></b>	</h4>
  <div class="well well-lg education">
    <ul>
        <li>AWS Certified Developer – Associate/AWS Certified Solutions Architect- Associate </li>
        <li>Oracle Database SQL Certified Expert/Oracle Database 11g Administrator Certified Associate </li>
        <li>Oracle PL/SQL Developer Certified Associate </li>
    </ul>
      
  </div>
  <h4><b><u>EDUCATIONAL QUALIFICATIONS</u></b>	</h4>
      <table class="table table-bordered tabdata">
        <tr>
          <th>Qualification</th>
          <th>University/Board</th>
          <th>Year of Passing</th>
          <th>Percentage</th>
        </tr>
        <tr>
          <td>Bachelor Of Engineering <br/>(Electronics and communication)</td>
          <td>Visvesvaraya Technological University <br/>(VTU)</td>
          <td>2011</td>
          <td>High Distinction</td>
        </tr>
        </table>
  </div>