<div class="container-fluid">
      <div class="well well-lg additional">
          <h6><b><u>Work Rights</u></b></h6>
          Australian PR <br/>
          <h6><b><u>Languages</u></b></h6>
          English, Hindi<br/>
          <h6><b><u>Appreciations</u></b></h6>
          Appreciation note from the client and the TCS team for quick development and deployment of the Flight Dashboard that has helped in flight tracking and aircraft maintenance.<br/>
          <h6><b><u>Hobbies and Interests</u></b></h6>
          Developing Android Apps, Trekking, Travelling and keenly following sports, especially football.<br/>
          
      </div>
      </div>
