<div class="container-fluid">
  <div class="well well-lg professional">
  	<b>December 2017 - Present	</b>     <br/>        
	<b>Tata Consultancy Services, Sydney, Australia (Contractor for Qantas)</b><br/>
<b><u>Lead Software Developer</u></b><br/>
<ul>
<li>Technical lead for the version upgrade project of the Qantas Engineering aircraft maintenance application. This included working closely with Qantas and IFS (vendor) to come up with solutions to issues that had to be fixed prior to the product release.</li>
<li>Developed the version upgrade strategy for the project for TCS as well as developed the code for the Oracle Warehouse builder used by Qantas to allow it to load the new data being introduced as part of the upgrade project.</li>
</ul>
<hr/>
	<b>April 2014 – December 2017</b>	      <br/>       
<b>Tata Consultancy Services, Sydney, Australia (Contractor for Qantas)</b><br/>
<b><u>Software Developer</u></b><br/>
<ul>
<li>Developed dashboards to track and report pre-flight maintenance activities on aircraft using Spring Boot, Nodejs and REST based web services. The ability to track these issues has allowed Qantas to streamline their aircraft maintenance process.</li>
<li>Developed reports on Crystal and Jasper Reports, which provide the client with print ready documents relating to a wide variety of subjects ranging from electronic signatures for the tasks completed to the work completion report on the aircrafts.</li>
<li>Developed monitoring tools on Angularjs that track health of various applications as well as pro-actively record and warn against issues and errors on the same. This has provided Qantas the ability to preempt issues in many cases. </li>
<li>Worked on the Continuous Integration and Continuous Development/Deployment methodology using the Stash repository and integrating it with Bamboo and AntHill. </li>
<li>Developed numerous in-house tools, the last one of which was for helping the team with the shift handovers, using the MEAN stack and hosting it on the AWS cloud.  The tool was called “RosterApp” and was used as a handover tool by the team to record the issues encountered, the fixes and workarounds developed for the same.</li>
</ul>

<hr/>
	<b>July 2012 – April 2014</b>	  <br/>           
<b>Tata Consultancy Services, Noida, India</b><br/>
<b><u>Junior Software Developer</u></b><br/>
<ul>
<li>Worked as an ETL developer on Data Migration project from 11 July 2012 to 30 October 2012 and had developed a number of jobs using IBM Datastage.</li>

<li>Developed automated backend database queries and procedures in PL/SQL.</li>
</ul>
    </div>
    </div>