<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <br/>
    <div class="well well-lg">
    <!--<img src="../assets/background.JPG" alt="background.jpg" class="img-responsive img-rounded">-->
    <img src="../assets/nipun.JPG" alt="nipun" class="img-responsive img-circle center-block" width="45%">
    <br/>
    <p class="text-center headline"><b>IT Analyst | AWS Certified | M.E.A.N Stack and Java Developer</b></p>
  </div>
  <hr/>
    <h4><b><u>SUMMARY</u></b></h4>
    <div class="well well-lg summary">
      I have been working as Software Developer and have 6 years of experience in the IT sector. I have worked on IT systems in Maintenance & Repair domains of the aviation industry.  
      I initially started as an ETL developer helping with data migration using Datastage. This was followed by me developing dashboards on Node.js, Angular.js and Spring Boot that get data using the REST web services. 
      Besides these, I have experience working on the AWS cloud and have migrated applications to the cloud applying the CICD methodologies (Bamboo/Bitbucket) in the process. I am also a full stack developer and have built a number of web applications using the M.E.A.N stack (Mongo-Express-Angular-Node). 
    </div>
    <hr/>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a routerLink="/home" routerLinkActive="active">Professional Experience</a></li>
        <li role="presentation"><a routerLink="/home/skills" routerLinkActive="active">Skillset</a></li>
        <li role="presentation"><a routerLink="/home/education" routerLinkActive="active">Certifications and Education</a></li>
        <li role="presentation"><a routerLink="/home/additional" routerLinkActive="active">Additional Info</a></li>
      </ul>
  </div>
  <router-outlet></router-outlet>