<div class="container-fluid">
    <div class="well well-lg skills">
        <ul>
        <li>Amazon Web Services (Certified Associate Solutions Architect and Developer)</li>
        <li>Spring Boot, Java 8, Core Java, REST</li>
        <li>AngularJS, NodeJS, Mean Stack, MeteorJS, jQuery, HTML5</li>
        <li>Oracle, PL/SQL (Certified in SQL, PL/SQL and also as a database administrator), MongoDB</li>
        <li>Crystal and Jasper Reports</li>
        <li>SVN, Github, Maven, Bamboo, Gradle</li>
        <li>Automation using Selenium</li>
    </ul>
  
      </div>
      </div>